<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand white m-3" href="/"> Formulario en Angular</a>
</nav>

<div class="container pt-5">
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
        <li *ngFor="let employee of employeeArray" class=list-group-item list-group-item-action
        (click)="openEdit(employee)"
        [class.active]="employee == selectedEmployee">
          <span class="badge badge-primary bg-primary"> {{ employee.id }} </span> {{ employee.name }} - {{ employee.country }}
        </li>
      </ul>
      
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Inserta un nuevo empleado</h5>
          <div class="form-group mt-4">
            <input type="text" [(ngModel)]="selectedEmployee.name" name="nameEmp" id="nameEmp" class="form-control" placeholder="Inserta un nombre">
          </div>
          <div class="form-group mt-4">
            <input type="text" [(ngModel)]="selectedEmployee.country" name="paisEmp" id="paisEmp" class="form-control" placeholder="Inserta un país">
          </div>
          <button (click)="addOrEdit()" type="submit" class="btn btn-primary mt-4">Crear/Editar</button>
          <button *ngIf="selectedEmployee.id !== 0" class="btn btn-danger mt-4" type="button" (click)="delete()">Eliminar</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <img width="75" class="navbar brand" alt="Angular Logo"src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="/>
    </div>
  </div>
</div>
